@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('/fonts/Inter.variable.woff2?v=3.19') format('woff2');
  }
  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url('/fonts/Inter.variable.woff2?v=3.19') format('woff2');
  }
}

@layer components {
  .blockquote {
    @apply my-2 block  border-l-2 px-2 text-gray-400 md:px-4;
  }

  .blockquote + br {
    @apply hidden;
  }

  .lds-ring {
    @apply relative inline-block h-full w-full;
  }
  .lds-ring div {
    @apply absolute block h-full w-full rounded-full border-4 border-transparent border-t-blue-500 dark:border-t-slate-500;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  img {
    @apply relative inline-block overflow-hidden;
  }
  img::before {
    @apply absolute h-full w-full bg-gray-500;
    content: '';
  }

  button.action-button {
    @apply inline-flex items-center justify-center space-x-1 rounded-md border border-transparent bg-blue-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2;
  }

  button.spoiler-button {
    @apply inline-flex items-center justify-center space-x-1 rounded-md border border-transparent bg-blue-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2;
  }
}
